*{
    margin:0; padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
}
.menu ul li a{
    opacity: 0.9;
}
header{
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px 1fr;
    grid-template-areas: 
     "menu logo user"
    ;
    align-items: center;
    /* overflow: hidden; */
}
.logo, .user{
    align-self: flex-start;
}

.logo{
    grid-area: logo;
    text-align: center;
}

.menu ul li{
    float: left;
    padding: 5px;

}

.menu ul li a{
    display: block;
    padding: 10px;
    color: white;
}

#menu_btn{
    grid-area: menu_btn;
    cursor: pointer;
    display: none;
    padding: 5px;
}

#menu_btn i{
    font-size: 1.3em;
}
.menu__createbtn{
    background:purple;
    border-radius: 10px;
    border: 1px solid rgb(190, 65, 190);
}
.user{
    grid-area: user;
    display: flex;
    margin-right: 35px;
    align-items: center;
    justify-content: flex-end;

}
.perfil_img{
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    grid-area: menu;
    margin-left:20px;

}
.menu ul li a:hover{
    background: rgba(255, 255, 255, 0.397);
    opacity: 1;
}
@media(max-width:680px){
    header{
        grid-template-areas: 
        "menu_btn logo user"
        "menu menu menu"
       ;
    }
    #menu_btn{
        display: block;
    }
    /* .menu ul{
        flex-direction: column;
    } */
    .menu{
        margin-left: 0px;
    }
    .menu ul li{
        clear: both;
        width: 100%;
    }
    .menu ul {
        display: none;
        margin-top: 10px;
    }
 
  
    .username{
        display: none;
    }
}

#check_menu:checked ~ .menu ul {
    display: block;
}
