#home-content{
    *:hover{ cursor: default; }
    padding: 10px 50px;
    // @include flexCenter(column, center); 
    
    section{
        min-height: 525px;
        // width: 100%;
        @include flexCenter(column, center); 

        button, button a{
            padding: 10px;
            border-radius: 10px;
            background:#f49236;
            cursor: pointer !important;
            border: 1px solid #f39339;
        }

        img{
            width: 250px;
            height: 250px;
            border: 1px solid;
        }

        div:nth-child(2){ 
            margin: 20px 0; 
            flex-direction: row-reverse; 
        }

        div{ display: flex; }
    }

    #content-block-3{
        img{
            width: 100%;
            height: 625px;
        }
    }

}
