.container_perfil{
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:'atalhos atalho_selec';
    grid-column-gap:10px;
}

.controls_perfil{
    grid-area: atalhos;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
    grid-template-areas: 'dados'
                        'caminhos';
}

.dados_user{
    grid-area: dados;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dados_user h3{
    font-size: 0.9em;
    opacity: 0.5;
}

.atalhos{
    grid-area:caminhos;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_atalho{
    padding: 10px 100px;
    margin-top: 20px;
    /* color: white;
    background: black; */
    cursor: pointer;
}

.container_atalho{
    grid-area:atalho_selec;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logs{
    padding: 10px 100px;
    margin-top: 20px;
    margin-left: 45px;
    background: #f49236  !important;
    border: none !important;
    color:white;
    font-size: 1em !important;
    cursor: pointer;
    box-shadow: none !important;
}
/* .container_atalho .ata_select{
    height: 100px;
} */

.agendas{
    width: 90% !important;
    height: 70vh !important;
    /* overflow-y:auto; */
    
}
.ata_select{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.21fr 1fr;
    grid-template-areas: 
    'titulo'
    'tela';
}
.container_atalho .screen_title{
    grid-area: titulo;
    align-self: end;
    /* margin-top: 120px;
    position: relative; */
}
.screen_exibe{
    grid-area: tela;
    width: 90% ;
    height: 70vh ;
    overflow-y:auto;
}

.screen_exibe::-webkit-scrollbar {
    border-right: 1px solid black;
    width: 5px;
  }

  .screen_exibe::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.418);
    
  }
.perfil_edit .input{
    outline: none;
}
/* .perfil_edit .input{
    outline: none;
} */
.perfil_edit{
    margin-top: 30px;
}

.perfil_edit label{
    user-select: none;
}

[class*="fa-eye"]{
    color: #5b5ca8;
    font-size: 1.2em;
}

.input{
    width: 50% !important;
}

.pass_view{
    font-size: 0.8em;
    color: #5b5ca8;
    user-select: none;
}
/*cel*/
@media(max-width:680px){
    .container_perfil{
        grid-template-columns: 1fr;
        grid-template-areas:
        'atalhos'
        'atalho_selec';
    }

    .controls_perfil{
        grid-template-rows: 1fr 1fr;
    }

    .logs{
        margin-left:0;
    }

    .atalhos{
        flex-direction: row;
        overflow-x: auto;
        margin-top: 20px;
        position: relative;
    }

    .atalhos::before{
        content: "\2794";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10px;
        color: rgba(0,0,0,.5);
        animation: scroll-x .5s ease-in 0s infinite alternate;
    }

    @keyframes scroll-x {
        from{
            transform:translateX(0px);
        }
        to{
            transform:translateX(10px);
        }
    }

   .controls_perfil .form_btn{
        margin-left: 10px;
    }

    .container_atalho div{
        justify-content: flex-start;
        margin-top: 50px;
        padding: 5px;
        /* text-align: center; */
    }
    .screen_title{
        text-align: center;
    }

    [class*="fa-eye"]{
        margin-top: 10px;
    }

    .agendas{
        flex-direction: row !important;
    }

    .input{
        width: 100% !important;
    }

    .screen_exibe{
        margin: auto;
    }

}
