/* Global config in this page */

#main-container *{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0;
    border-style: none;  
    text-decoration: none;
    list-style-type: none;
    font: 400 15px Roboto, sans-serif;
    /* overflow-y: hidden; */
    color: #3c4043;
    
    /*! opacity: ; */
}

body{ overflow-y: hidden; }

button svg:hover,
label > svg:hover{ fill: #4527a0; }

label > svg,
button > svg{
    fill: #5f6368;
    width: 1.3rem !important;
    height: 1.3rem !important;
    transition: fill 0.5s ease-out;
}

button{ 
    border-radius: 5px;
    border: 1px solid #dadce0; 
    transition: all 0.5s ease-out;
}

input[type="checkbox"]{ display: none; }

.tasks-container > .box-task:hover, svg:hover,
#kanban-container > .box-columns > #create-column:hover, 
button:hover{ cursor: pointer; /*! box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.24), 0 1px 6px 1px rgba(60, 64, 67, 0.14); */}
/*                                              */
.box-task:hover
{
    box-shadow: 
        0 1px 1px 0 rgba(60, 64, 67, 0.24), 
        0 1px 6px 1px rgba(60, 64, 67, 0.14);
}

/* mini menu box */

#mini-menu-box{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #dadce0c5;
    box-shadow: 
    0 1px 1px 0 rgba(60, 64, 67, 0.083), 
    0 1px 6px 1px rgba(60, 64, 67, 0.027);
    background-color: #f6f8fac2;
}

#box-routine-title{
    width: 145px;
    padding: 2.5px;
    border-radius: 2px;
    /* margin: 10px 0 0 10px; */
    border: 1px solid #dadce0;
    background-color: #f6f8fa;
    box-shadow: 
    0 1px 1px 0 rgba(60, 64, 67, 0.138), 
    0 1px 6px 1px rgba(60, 64, 67, 0.103);
}


#btn-show-modal-delete-project, 
#btn-show-modal-restore-project{
    display: flex;
    align-items: center;
    padding: 2.5px 7px 2.5px 3px;
    border-radius: 2px !important;
    /* color: #3c4043; */
    margin: 0 0 0 15px;
    font-size: 16px;
    box-shadow: 
    0 1px 1px 0 rgba(60, 64, 67, 0.138), 
    0 1px 6px 1px rgba(60, 64, 67, 0.103);
}


#btn-show-modal-delete-project:hover > svg,
#btn-show-modal-restore-project:hover > svg { fill: #fff !important; }

#btn-show-modal-restore-project:hover{
    color: #fff !important;
    background-color: #32b332;
    box-shadow: 
    0 1px 1px 0 #32b3323c, 
    0 1px 6px 1px #32b33220;
}

#btn-show-modal-delete-project:hover{
    color: #fff !important;
    background-color: #df2c3e;
    box-shadow: 
    0 1px 1px 0 #df2c3e5a, 
    0 1px 6px 1px #df2c3e43;
}

.box-column-header div button{ background-color: transparent !important; }
/*                                              */

/* Kanban container content */

.box-columns {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 290px 290px 290px 290px 290px 290px 290px 290px;
    width: 100vw;
    padding: 10px;
    overflow-x: scroll;
    height: calc(100vh - 127px);
    background-color: #5b5ca82b;
}

#create-column{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: unset !important;
    box-shadow: unset !important;
    border-style: dashed !important;
    border-color: #5f6368 !important;
    background-color:  transparent !important;
    /*! transition: all s5 !important; */
}

#create-column:hover{ background-color:  #f6f8fa !important; }

.column, #create-column{
    width: 100%;
    height: 100%;
    /* padding: 8px; */
    position: relative;
    min-width: 290px;
    /* max-width: 355px; */
    overflow-y: hidden;
    /* scroll-margin-right: 20px; */
    border-radius: 10px;
    border: 1px solid #dadce0;
    background-color: #f6f8fa;
    box-shadow: 
    0 1px 1px 0 rgba(60, 64, 67, 0.17), 0 1px 2px 1px rgba(60, 64, 67, 0.29);
    transition: all s5 !important;
}
/*                                              */

/* column header content */

.box-column-header{ 
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 0 10px 0; */
    min-height: 50px;
    padding: 8px 8px 5px 10px;
    border-bottom: 2px solid #dadce0;
    box-shadow: 
    0 1px 1px 0 rgba(60, 64, 67, 0.04), 0 1px 6px 1px rgba(60, 64, 67, 0.18);
}

.box-column-header p{
    font-size: .90rem;
    font-weight: bold;
}

.box-column-header button{
    height: 35px;
    padding: 0 5px;
}

input[type="checkbox"] ~ .dropdown-column-editor{ display: none; }
input[type="checkbox"]:checked ~ .dropdown-column-editor{ display: block; }

.dropdown-column-editor{
    /* padding: 5px; */
    z-index: 1;
    border-radius: 5px;
    width: fit-content !important;
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid #dadce0 !important;
    box-shadow: 
    0 1px 1px 0 rgba(60, 64, 67, 0.214), 
    0 1px 6px 1px rgba(60, 64, 67, 0.096);
}

.dropdown-column-editor ul li:hover{
    cursor: pointer;
    background-color: #dadce0;
}
.dropdown-column-editor ul li{ padding: 5px 10px; }

.dropdown-column-editor ul li:nth-child(1){ border-bottom: 1px solid #dadce0 !important; }
/*                                              */

/* Task container */

.tasks-container{ 
    padding: 8px;
    overflow-y: auto;
    height: calc(100vh - 200px);
}
/*                                              */

/* Tasks container content */

.box-task-creator{ display: none; }

.box-task-creator{ margin: 5px 0; }

.box-task-creator button{ 
    padding: 5px;
    margin: 0 6px 0 0;
}

.box-task-creator form textarea{
    width: 100%;
    resize: none;
    padding: 10px;
    display: block;
    margin: 0 0 5px 0; 
    border-radius: 5px;
    border: 1px solid #dadce0;
    box-shadow: 
    0 1px 1px 0 rgba(60, 64, 67, 0.083), 
    0 1px 6px 1px rgba(60, 64, 67, 0.027);
}

.box-task-creator form div{ display: flex; }
.box-task-creator form div button{ width: 81px; }
.box-task-creator form div input{ width: 100px; margin: 0 2.5px 0 0;}
.box-task-creator form div .btn-close-task-creator{ margin: 0 !important; }

.box-task {
    width: 100%;
    height: 50px;
    padding: 10px 32px 10px 10px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    margin: 0 0 10px 0;
    background-color: #fff;
    border: 1px solid #dadce0;
    box-shadow: 
        0 1px 1px 0 rgba(60, 64, 67, 0.083), 0 1px 6px 1px rgba(60, 64, 67, 0.027);
}

/* .box-task p{
    font-size: .70rem;
    overflow-wrap: break-word;
} */

/* .box-task:hover {
    box-shadow: 
        0 1px 1px 0 rgba(60, 64, 67, 0.172), 
        0 1px 6px 1px rgba(60, 64, 67, 0.096);
} */

.box-task:hover > .box-task-buttons {
    opacity: 1;
}

.box-task-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

hr{
    height: 1px;
    background-color: #dadce0;
}

.box-task-buttons button{
    width: min-content;
    height: 20px;
    border-radius: 0;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;

}
.box-task-buttons{
    top: 0;
    right: 0;
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    /* align-content: space-around; */
    border-left: 2px solid #dadce0 !important;
    box-shadow: 
    0px 1px 2px 1px rgba(60, 64, 67, 0.083), 
    0px 1px 6px 1px rgba(60, 64, 67, 0.027);
    opacity: 0;
    transition: all s5 ease-in;
}




#ID_COLUMN_MODAL, #ID_TASK_MODAL, .ID_COLUMN_CREATE_TASK{
    margin: 0 5px;
    width: 50px !important;
    display: none !important;
}
/*                                              */

/* Modal contaianer */
.modal-columns,
#modals-container{ display: none; }

#modals-container{
    top: 0;
    z-index: 2;
    position: absolute;
    transition: all 2s;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.069);
}
/*                                              */

/* modal container content */

.modal-columns{
    width: 350px;
    z-index: 1;
    margin: 0px 0px;
    transition: all 2s;
    /* padding: 5px; */
    height: min-content;
    border-radius: 10px;
    /* padding: 10px; */
    background-color: #fff;
    border: 1px solid #dadce0;
    box-shadow: 
        0 1px 1px 0 rgba(60, 64, 67, 0.083), 
        0 1px 6px 1px rgba(60, 64, 67, 0.027);
}

.modal-columns-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 2px solid #dadce0;
    box-shadow: 
    0 1px 1px 0 rgba(60, 64, 67, 0.083), 
    0 1px 6px 1px rgba(60, 64, 67, 0.027);
}

.modal-columns input{ padding: 5px; } 
.modal-columns input,
.modal-columns button:not(#btn-close-modal){
    width: 100%;
    height: auto;
    /* padding: 15px; */
    border-radius: 5px;
    margin: 5px 0 5px 0px;
    border: 1px solid lightgray !important;
}

.modal-columns-header button{
    margin: 0 !important;
    width: auto !important;
    border: unset !important;
    /* padding:  0 2.5px 0 0 !important; */
    background-color: unset !important;
}

.modal-columns-config-box > p:nth-child(2) { font-size: 13px !important; padding: 0 20px 0 0 !important; margin: 0 0 5px 0; }
.modal-columns-config-box > p:nth-child(2) > a { font-size: 15px !important; color: #f49236 !important;}

.modal-columns-config-box { padding: 10px; }

.modal-columns-config-box button[type="submit"]{
    height: 35px;
    padding: 5px;
}

/* hover for modal buttons */
button[name="btn-delete-tasks"], 
button[name="btn-delete-project"], 
button[name="btn-delete-column"]{
    color: #df2c3e !important;
    font-size: 16px !important;
}

button[name="btn-delete-tasks"]:hover, 
button[name="btn-delete-project"]:hover, 
button[name="btn-delete-column"]:hover{
    color: #fff !important;
    background-color: #df2c3e;
    box-shadow: 
    0 1px 1px 0 #df2c3e3c, 
    0 1px 6px 1px #df2c3e20;
}

button[name="btn-edit-tasks"],
button[name="btn-rename-column"]{ font-size: 16px !important; }

button[name="btn-edit-tasks"]:hover,
button[name="btn-restore-project"]:hover,
button[name="btn-rename-column"]:hover{
    color: #fff !important;
    background-color: #32b332;
    box-shadow: 
    0 1px 1px 0 #32b3323c, 
    0 1px 6px 1px #32b33220;
}
/*                                              */


/* .btn-show-column-editor{
    display: none;
} */

/* #main-container{ background-color: pink; overflow-x: scroll;} */

/* @media screen and (min-height:500px){
    #kanban-container > .box-columns {
        height: calc(100vh - 125px);
    }
} */
