$valueBorderRadius: 4.5px;

@mixin flexCenter($align_items, $justify_content, $flex_direction){
    display: flex;
    align-items: $align_items;
    justify-content: $justify_content;
    flex-direction: $flex_direction;
}

@mixin removeHighLight{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "ubuntu",sans-serif;

    &:hover{
        p, h1, h2, h3{
            cursor: default !important;
        }

        a, button, input[type=submit]{
            cursor: pointer !important;
        }
    }
}

.btn-orange{
    padding: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    background:#f49236;
    border: 1px solid #f39339;
    border-radius: $valueBorderRadius;
}


@import './_home.scss';

@import './_login_register.scss';

@import './_routines.scss';

@import './_header.scss';
@import './_footer.scss';