* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "ubuntu",sans-serif;
}

header #menu_btn {
  display: none;
}

header a:not(.anchor-logo) {
  color: #fff;
  opacity: 0.9;
}

header a:hover {
  opacity: 1;
}

#header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  position: fixed;
  overflow: hidden;
  background: #5b5ca8;
  border-bottom: 1px solid #dadce0;
}

#header-content #menu, #header-content #user-area, #header-content #menu-area {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header-content .anchor-logo .logo {
  width: auto;
  height: 40px;
}

#header-content #menu-area {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#header-content #menu-area li {
  margin: 0 10px;
}

#header-content #user-area {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#header-content #user-area .username {
  margin: 0 25px 0 0;
}

#header-content #user-area .menu-createbtn > a {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: #f49236;
  border: 1px solid #f39339;
}

@media (max-width: 900px) {
  #header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative !important;
  }
}

@media (max-width: 600px) {
  #header-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #header-content #menu, #header-content #user-area, #header-content #menu-area {
    width: 100%;
    display: block;
  }
  #header-content #menu-area li {
    margin: 0;
  }
  #header-content a:not(.anchor-logo) {
    width: 100%;
    opacity: 0.9;
    color: #fff;
    display: block;
    padding: 10px 0;
    font-size: 1.3em;
  }
  #header-content #user-area {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  #header-content #menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #header-content #menu #menu-area li {
    width: 100%;
  }
  #header-content #menu_btn {
    color: white;
    cursor: pointer;
    font-size: 1.8em;
  }
}
/* footer css */
footer ul, .siga, .collaborators, .collaborators a {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  width: 100%;
  height: auto;
  color: white;
  font-size: 12px;
  line-height: 50px;
  background: #5b5ca8;
  padding: 2em 5em 0.5em 5em;
  border-top: 1px solid #dadce0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul li #Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul li #Logo p {
  margin: 0 10px;
}

footer ul li #Logo img {
  width: auto;
  height: 14vh;
}

footer ul li #checkGit {
  display: none;
}

footer ul li label[for="checkGit"], footer ul li #checkGit {
  right: 215px;
  cursor: pointer;
}

footer ul li label[for="checkGit"] img {
  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 70%;
  -webkit-border-radius: 70%;
}

footer ul li label[for="checkGit"] img, footer ul li .collaborators a,
footer ul li #container-git-collaborators {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer ul li label[for="checkGit"] img:hover {
  opacity: 1;
}

footer ul li #container-git-collaborators {
  width: 100%;
  max-width: 180px;
  display: block;
  padding: 0 0 0 5px;
}

footer ul li #container-git-collaborators #git-collaborators-list {
  margin: 0 15px 0 20px;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators {
  height: 50px;
  margin: 2px 0;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators a {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  margin: 5px;
  padding: 5px;
  width: 25px;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  background-color: #27274f;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-box-shadow: 0 1px 1px 0 #3c404387, 
 0 1px 4px 1px #3c40435a;
          box-shadow: 0 1px 1px 0 #3c404387, 
 0 1px 4px 1px #3c40435a;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators a p {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  max-height: 35px;
  font-weight: bold;
  margin: 0 0 0 10px;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators a img {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators a:hover {
  cursor: pointer;
  width: 170px;
  background-color: #27274f;
}

footer #assin {
  width: 100%;
  margin-top: 10px;
  border-top: 1px dotted black;
  text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 800px) {
  footer ul, footer ul li, .siga, #Logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #header-content #menu #menu-area li {
    width: 100%;
  }
  #header-content #menu_btn {
    color: white;
    cursor: pointer;
    font-size: 1.8em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .siga {
    margin-right: 0px;
  }
  #container-git-collaborators {
    padding: 0px;
  }
  #git-collaborators-list {
    margin: 0px;
  }
}
/*# sourceMappingURL=styles.css.map */