@charset "UTF-8";
body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  margin-top: auto;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "ubuntu", sans-serif;
}

*:hover p,
*:hover h1,
*:hover h2,
*:hover h3 {
  cursor: default !important;
}

*:hover a,
*:hover button,
*:hover input[type=submit] {
  cursor: pointer !important;
}

.btn-orange {
  padding: 10px;
  color: white;
  text-align: center;
  background: #f49236;
  border: 1px solid #f39339;
  border-radius: 4.5px;
}

#home-content {
  padding: 10px 50px;
}

#home-content section {
  min-height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home-content section img {
  width: 250px;
  height: 250px;
  border: 1px solid;
}

#home-content section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-content section div:nth-child(2) {
  margin: 20px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#home-content #content-block-3 img {
  width: 100%;
  height: 625px;
}

#main-container,
form,
#login-container,
.form-title {
  width: 100%;
}

#main-container {
  height: 100%;
  /* Define a altura para ocupar 100% */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Define o elemento como flexível */
  overflow: hidden;
  /* Defina que todo elemento que transbordar será escondido */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Alinha os elementos verticalmente */
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Alinha os elementos horizontalmente */
}

#main-container #align-form {
  padding: 25px;
  /* Define um preenchimento de topo,fundo,direta e esqueda de 25px */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Define o elemento como flexível */
  margin: 5rem 0;
  /* Define uma margin de topo,fundo,direta e esqueda de 5rem */
  max-width: 550px;
  overflow: hidden;
  /* Defina que todo elemento que transbordar será escondido */
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Alinha os elementos horizontalemnte */
  background-color: #fff;
  /* Define cor de fundo */
  border: 1px solid #dadce0;
  /* Define uma borda solida, com 1px de altura */
  border-radius: 4.5px;
  /* Adiciona um arredondamento na borda de 5px */
  /* Adiciona uma sombra ao elemento */
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

#main-container #align-form #login-container {
  position: relative;
  border-radius: 4.5px;
}

#main-container #align-form #login-container .form-title {
  padding: 10px;
  /* Adiciona um preenchimento de topo,fundo,direita e esquerda de 10px */
  background-color: #fff;
  /* Adiciona cor de fundo */
  border-radius: 4.5px 4.5px 0 0;
  /* Adiciona um arredandamento para as boradas topo esquerda e topo direita de 5px */
}

#main-container #align-form #login-container .form-title p:first-child {
  font-size: 1.5em;
  /* Define tamanho da fonte para 1.5em */
  color: #5f6368;
  /* Adiciona cor ao texto */
  font-weight: bold;
  /* Define texto como negríto */
  text-align: center;
  /* Alinha o texto ao centro  */
}

#main-container #align-form #login-container .form-title p {
  margin: 5px 0;
  /* Adiciona margin ao topo e fundo de 5px */
  font-size: 0.9em;
  /* Defina tamanho da fonte para 0.9em */
  font-weight: bold;
  /* Define o texto como negríto */
  color: #3c4043b8;
  /* Adiciona cor ao texto */
  text-align: center;
  /* Alinha o texto ao centro1 */
}

#main-container #align-form #login-container input {
  width: 100%;
  /* Define um comprimento de 100% */
  height: 50px;
  /* Define uma altura de 50px */
  padding: 20px;
  /* Adiciona preenchimento de 20px para o topo,fundo,direita e esquerda */
  margin: 5px 0;
  outline: none;
  /* Remove o contorno do texto */
  border: 1px solid #d1d2d4;
  /* Adiciona borda solida de 1px de altura */
}

#main-container #align-form #login-container a {
  color: #5f6368;
}

#main-container #align-form #login-container p a {
  color: #6869bb;
}

#main-container #align-form #login-container input[type='submit'] {
  margin-top: 15px;
  font-size: 0.9em;
  /* Defina tamanho da fonte para 0.9em */
  font-weight: bold;
  /* Define o texto como negríto */
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

#main-container #align-form #login-container .email.valid {
  border-color: green;
}

#main-container #align-form #login-container .email.invalid {
  border-color: crimson;
}

#main-container #align-form #login-container .senha.valid {
  border-color: green;
}

#main-container #align-form #login-container .senha.invalid {
  border-color: crimson;
}

#main-container #align-form #login-container .validation {
  font-size: 0.8em;
}

#main-container #align-form #login-container .validation.valid {
  color: green;
}

#main-container #align-form #login-container .validation.invalid {
  color: crimson;
}

/* responsive SmartPhone */
@media only screen and (max-width: 600px) {
  #main-container,
  form,
  #login-container,
  .form-title {
    width: 100%;
  }
  #main-container #align-form {
    border: none;
    margin: 3rem 0;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* responsive Tablet */
@media only screen and (max-width: 800px) {
  #main-container,
  form,
  #login-container,
  .form-title {
    width: 100%;
  }
  #main-container #align-form {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*configura o container onde ficam as agendas, deixando os itens dentro dele flexiveis e alinhando verticalmente, além de uma margin de 40px do top e do bottom*/
#routines-dashboard {
  margin: 0 48px 24px;
}

#routines-dashboard #routines-menu h2 {
  margin: 16px 16px 16px 0;
}

#routines-dashboard #routines-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(355px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(355px, 1fr));
  gap: 24px;
}

#routines-dashboard #routines-container .routine {
  height: 246px;
  text-decoration: none;
  border: 1px solid #dadce0;
  border-radius: 4.5px;
}

#routines-dashboard #routines-container .routine:hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.158), 0 2px 6px 2px rgba(60, 64, 67, 0.138);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.158), 0 2px 6px 2px rgba(60, 64, 67, 0.138);
}

#routines-dashboard #routines-container .routine .routine-content .routine-columns {
  height: 186px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#routines-dashboard #routines-container .routine .routine-content .routine-columns .col {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  background-color: #5f6368ba;
}

#routines-dashboard #routines-container .routine .routine-info {
  width: 100%;
  height: 60px;
  padding: 0 10px;
  border-top: 1px solid #dadce0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#routines-dashboard #routines-container .routine .routine-info h2 {
  color: #3c4043;
  font-weight: unset;
}

#routines-dashboard #routines-container .routine .routine-info button {
  height: 100%;
  border: unset;
  background-color: unset;
}

#routines-dashboard #routines-container .routine .routine-info button i {
  font-size: 1.2em;
  color: #5f6368;
}

/*configurações especificas para o botão de criação dos projetos, com background grey e color black para diferenciar dos outros projetos criados dinamicamente.*/
#create-routine {
  color: #000;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  border-style: dashed !important;
  border-color: #5f636882 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*adiciona um cursor pointer aos projetos e diminui a opacidade para dar um efeito com hover*/
  /*aumentando o tamanho do icone de + dentro do botão de criação dos projetos*/
}

#create-routine:hover {
  background-color: #5f636825;
}

#create-routine i {
  font-size: 3em;
}

.container_form {
  width: 100%;
  border: none;
}

.modal,
.settings {
  position: fixed;
  z-index: 10;
  top: 55%;
  left: 50%;
  overflow: hidden;
  min-width: 350px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  scrollbar-width: none;
  background-color: #fff !important;
  -ms-overflow-style: none;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border-radius: 4.5px;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.083), 0 1px 6px 1px rgba(60, 64, 67, 0.027);
          box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.083), 0 1px 6px 1px rgba(60, 64, 67, 0.027);
}

.modal-header {
  padding: 5px 10px;
  border-bottom: 2px solid #dadce0;
  -webkit-box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.083), 0 1px 6px 1px rgba(60, 64, 67, 0.027);
          box-shadow: 0 1px 1px 0 rgba(60, 64, 67, 0.083), 0 1px 6px 1px rgba(60, 64, 67, 0.027);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal-header button {
  background-color: transparent;
  border: none;
}

.modal-inputs {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-inputs input {
  margin: 3.5px 0;
  padding: 5px;
  border: 1px solid lightgray !important;
  border-radius: 4.5px;
}

/*modal, configura o modal para atingir uma posição fixa na página e ficar sobre todos os componentes do html, com scala inicialmente 0 para não aparecer na página.*/
.modal,
.settings {
  overflow: hidden;
  border-radius: 4.5px;
}

/*esconde o scroll do modal*/
.modal::-webkit-scrollbar {
  visibility: hidden;
}

/*um fundo escuro com baixa opacidade para tirar os eventos de cursores e de click ao redor do modal*/
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}

/*botão para fechar o modal, com font-size de 2em e uma margin de 5px para distanciar das bordas.*/
.modal .close {
  margin: 5px;
  font-size: 2em;
}

/*realiza a ação de abrir o modal para o usuário, transitando a scala de 0 para 1.*/
.modal.active,
.settings.active {
  -webkit-transform: translate(-50%, -50%) scale(1.5);
          transform: translate(-50%, -50%) scale(1.5);
}

@media only screen and (max-width: 600px) {
  .modal.active,
  .settings.active {
    -webkit-transform: translate(-50%, -50%) scale(1.1);
            transform: translate(-50%, -50%) scale(1.1);
  }
}

@media only screen and (max-width: 360px) {
  .modal.active,
  .settings.active {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media only screen and (max-width: 600px) {
  #routines-dashboard {
    margin: 0 20px 24px;
  }
  #routines-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 360px) {
  #routines-dashboard {
    margin: auto;
  }
}

header #menu_btn {
  display: none;
}

header a:not(.anchor-logo) {
  color: #fff;
  opacity: 0.9;
}

header a:hover {
  opacity: 1;
}

#header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  background: #5b5ca8;
  border-bottom: 1px solid #dadce0;
}

#header-content #menu,
#header-content #user-area,
#header-content #menu-area,
#header-content nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header-content .anchor-logo .logo {
  width: auto;
  height: 40px;
}

#header-content #menu-area {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  min-width: 425px !important;
}

#header-content #menu-area li {
  margin: 0 10px;
}

#header-content #user-area {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

#header-content #user-area .username {
  margin: 0 25px 0 0;
}

#header-content #user-area .menu-createbtn > a {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 900px) {
  #header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative !important;
  }
}

@media only screen and (max-width: 600px) {
  #header-content {
    position: relative !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #header-content #menu,
  #header-content #user-area,
  #header-content #menu-area,
  #header-content nav {
    display: block;
  }
  #header-content #menu-area li {
    margin: 0;
  }
  #header-content #menu-area li {
    display: none;
  }
  #header-content #menu-area li:nth-child(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #header-content a:not(.anchor-logo) {
    width: 100%;
    opacity: 0.9;
    color: #fff;
    display: block;
    padding: 10px 0;
    font-size: 1.3em;
  }
  #header-content #user-area {
    display: none;
  }
  #header-content #menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  #header-content #menu #menu-area li {
    width: 100%;
  }
  #header-content #menu_btn {
    position: absolute;
    right: 10px;
    color: white;
    cursor: pointer;
    font-size: 1.8em;
    display: block;
  }
  #check_menu:checked ~ nav #menu-area li:not(#check_menu:checked:nth-child(1)) {
    display: block;
  }
  #check_menu:checked ~ nav #user-area {
    display: block;
  }
}

/* footer css */
footer ul,
.siga,
.collaborators,
.collaborators a {
  -webkit-box-sizing: unset;
          box-sizing: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  width: 100%;
  height: auto;
  color: white;
  font-size: 12px;
  margin-top: auto;
  line-height: 50px;
  background: #5b5ca8;
  padding: 2em 5em 0.5em;
  border-top: 1px solid #dadce0;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer ul li #Logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul li #Logo p {
  margin: 0 10px;
}

footer ul li #Logo img {
  width: auto;
  height: 14vh;
}

footer ul li #checkGit {
  display: none;
}

footer ul li label[for="checkGit"],
footer ul li #checkGit {
  right: 215px;
  cursor: pointer;
}

footer ul li label[for="checkGit"] img {
  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 70%;
  -webkit-border-radius: 70%;
}

footer ul li label[for="checkGit"] img,
footer ul li .collaborators a,
footer ul li #container-git-collaborators {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer ul li label[for="checkGit"] img:hover {
  opacity: 1;
}

footer ul li #container-git-collaborators {
  width: 100%;
  max-width: 180px;
  display: block;
  padding: 0 0 0 5px;
}

footer ul li #container-git-collaborators #git-collaborators-list {
  margin: 0 15px 0 20px;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators {
  height: 50px;
  margin: 2px 0;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators a {
  margin: 5px;
  padding: 5px;
  width: 25px;
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  border-radius: 40px;
  -webkit-border-radius: 40px;
  background-color: #27274f;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-box-shadow: 0 1px 1px 0 #3c404387, 0 1px 4px 1px #3c40435a;
          box-shadow: 0 1px 1px 0 #3c404387, 0 1px 4px 1px #3c40435a;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators a p {
  display: none;
  color: white;
  max-height: 35px;
  font-weight: bold;
  margin: 0 0 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators a img {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
}

footer ul li #container-git-collaborators #git-collaborators-list .collaborators a:hover {
  width: 170px;
  background-color: #27274f;
}

footer #assin {
  width: 100%;
  margin-top: 10px;
  border-top: 1px dotted black;
  text-align: center;
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
  footer ul,
  footer ul li,
  .siga,
  #Logo {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .siga {
    margin-right: 0;
  }
  #container-git-collaborators {
    padding: 0;
  }
  #git-collaborators-list {
    margin: 0;
  }
}

@media only screen and (max-height: 800px) {
  body {
    height: unset;
  }
  body footer {
    margin-top: unset;
  }
}

@media only screen and (max-width: 400px) and (max-width: 600px) {
  body {
    height: unset;
  }
  body footer {
    margin-top: unset;
  }
}
/*# sourceMappingURL=styles.css.map */